* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0e0e16;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border-radius: 2px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF4B6E;
  cursor: pointer;
}
